src/*.o
src/tpm_server
src/DebugFile.txt
src/NVChip
src/trace.txt

src/tpm_server.exe
tpmvstudio/tpm_server/DebugFile.txt
tpmvstudio/tpm_server/NVChip
tpmvstudio/tpm_server/.vs
tpmvstudio/tpm_server/x64

