version: 1.0.{build}
image: Visual Studio 2019
verbosity: normal

install:
- cmd: echo "Downloading conan..."
- cmd: set PATH=%PATH%;%PYTHON%/Scripts/
- cmd: pip.exe install conan
- cmd: conan user # Create the conan data directory
- cmd: conan --version

build_script:
- cmd: mkdir build
- cmd: cd build
- cmd: conan install .. --build=missing
- cmd: cmake .. 
- cmd: cmake --build . --config Release
